<% current_user.requested_friendships.each do |request| %>
  <div class="row well">
    <div class="col-xs-3">
      <h3><%= link_to request.name, user_path(request) %></h3>
    </div>
    <div class="col-xs-9">
      <%= link_to "Accept",  friendship_path(id: request.id), method: "put", class:"btn btn-primary" %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete, class:"btn btn-warning" %>
    </div>
    <hr/>
  </div>
<% end %>
